{{ define "main" }}

{{ if .Params.hero_image }}
<div class="hero__image">
  <div class="hero__image__inner">
    <img class="lazy" data-src="{{ .Params.hero_image }}" alt="{{ .Title }}">
  </div>
</div>
{{ end }}

<div class="container-wide">
  <div class="page-head">

    <div class="page-info">
      {{ if .Title }}
      <h1 class="page-title">{{ .Title }}</h1>
      {{ end }}
      {{ if .Description }}
      <p class="page-description">{{.Description }}</p>
      {{ end }}
    </div>

  </div>
</div>

<!-- begin page -->
<div class="container-wide">
  <article class="page">
    <div class="page__content">
      {{ .Content }}
    </div>
  </article>
</div>
<!-- end page -->

{{ end }}
