<div class="col col-5 col-d-12">
  <div class="widget-footer widget-info">

    <div class="logo-footer">
      <a class="logo-footer__link" href="{{ .Site.BaseURL }}">
        {{ if or (.Site.Params.logo) (.Site.Params.logo_dark) }}
        {{ with .Site.Params.logo }}
          {{ $imgPath := strings.TrimPrefix "/" . }}
          {{ $img := resources.Get $imgPath }}
          {{ if $img }}
        <img class="logo-footer__image" src="{{ $img.RelPermalink }}" alt="{{ site.Title }}">
          {{ end }}
        {{ end }}
        {{ with .Site.Params.logo_dark }}
          {{ $imgPath := strings.TrimPrefix "/" . }}
          {{ $img := resources.Get $imgPath }}
          {{ if $img }}
        <img class="logo-footer__image__dark" src="{{ $img.RelPermalink }}" alt="{{ site.Title }}">
          {{ end }}
        {{ end }}
        {{ else }}
        {{ .Site.Title }}
        {{ end }}
      </a>
    </div>

    {{ if .Site.Params.footer.footer_description }}
    <p class="widget-footer__desc">{{ .Site.Params.footer.footer_description }}</p>
    {{ end }}

    {{ if .Site.Params.social }}
    <div class="social-footer">
      {{ partial "social-links.html" . }}
    </div>
    {{ end }}

  </div>
</div>