<div class="col col-5 col-d-12">
  <div class="widget-footer widget-info">

    <div class="logo-footer">
      <a class="logo-footer__link" href="{{ .Site.BaseURL }}">
        {{ $full := and .Site.Params.logo (resources.Get (strings.TrimPrefix "/" .Site.Params.logo)) }}
        {{ $panIcon := resources.Get "images/logos/etm-logo.png" }}
        {{ $wordEtm := resources.Get "images/logos/logo-word-etm.png" }}
        {{ $wordFull := resources.Get "images/logos/logo-word-full.png" }}
        {{ if and $panIcon $wordEtm $wordFull }}
          {{/* Footer: "etm" slides up to the full wordmark on hover (pangolin rolls) */}}
        <span class="brandmark brandmark--slide brandmark--sm">
          <span class="brandmark__pan"><img src="{{ $panIcon.RelPermalink }}" alt="{{ site.Title }}"></span>
          <span class="brandmark__words">
            <img class="brandmark__word brandmark__word--full" src="{{ $wordFull.RelPermalink }}" alt="" aria-hidden="true">
            <img class="brandmark__word brandmark__word--etm" src="{{ $wordEtm.RelPermalink }}" alt="" aria-hidden="true">
          </span>
        </span>
        {{ else if $full }}
        <img class="logo-footer__image" src="{{ $full.RelPermalink }}" alt="{{ site.Title }}">
        {{ else }}
        {{ .Site.Title }}
        {{ end }}
      </a>
    </div>

    {{ if .Site.Params.footer.footer_description }}
    <p class="widget-footer__desc">{{ .Site.Params.footer.footer_description }}</p>
    {{ end }}

    {{ if .Site.Params.social }}
    <div class="social-footer">
      {{ partial "social-links.html" . }}
    </div>
    {{ end }}

  </div>
</div>