<div class="col col-4 col-d-12">
  <div class="widget-footer widget-recent-posts">
    <h3 class="widget-title">Recent Posts</h3>
    {{ $counter := 0 }}
    {{ range ( where site.RegularPages "Section" "posts" | first 3 ) }}
    {{ $counter = add $counter 1 }}
    <div class="recent-posts">

      {{ if .Params.Image }}
      <a href="{{ .RelPermalink }}" class="recent-posts__image">
        {{ $imgPath := strings.TrimPrefix "/" .Params.Image }}
        {{ partial "responsive-image.html" (dict
          "src" $imgPath
          "alt" .Title
          "sizes" "(max-width: 600px) 100vw, 150px"
          "widths" (slice 150 200 300)
          "lazy" true
          "lqip" true
        ) }}
      </a>
      {{ end }}

      <div class="recent-posts__content">
        <time class="recent-posts__date" datetime="{{ .Date.Format " 2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "2 January, 2006" }}
        </time>
        <h4 class="recent-posts__title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
      </div>
    </div>
    {{ end }}
  </div>
</div>
