<div class="widget-sidebar project-meta {{ if eq .Params.status "fundraising"}} project-status-fundraising {{ end }}">
  {{ if .Params.github_repo }}
    <a target="_blank" class="project-meta__github_repo" href="{{ .Params.github_repo }}">
      <i class="fa-brands fa-github" title="Code Repository"></i>
    </a>
  {{ end }}
  {{ if .Params.space }}
    <a target="_blank" class="project-meta__space" href="{{ .Params.space }}">
      <img src="/images/social/hf.svg" title="ML Space Demo" />
    </a>
  {{ end }}
  <h2 class="widget-sidebar__title">Project Details</h2>
  {{ if .Params.summary }}
  <p class="project-meta__summary">{{ .Params.summary }}</p>
  {{ end }}
  {{ $clients := .Params.clients }}
  {{ if .Params.clients }}
      <div class="project-meta__item">
        <h3 class="project-meta__name">
          {{ if gt (len $clients) 1 }}
            Partners
          {{ else }}
            Partner
          {{ end }}
        </h3>
        <div class="project-meta__text-container">
          {{ range .Params.clients }}
            <a target="_blank" href="{{ .link }}" title="{{ .name }}">
              <img src="{{ .logo }}" alt="{{ .name }}"/>
            </a>
          {{ end }}
        </div>
      </div>
  {{ end }}
  {{ if .Params.tools }}
  <div class="project-meta__item">
    <h3 class="project-meta__name">Made With</h3>
    <div class="project-meta__text">
      <ul>
      {{ range .Params.tools }}
        <li>{{ . }}</li>
      {{ end }}
      </ul>
    </div>
  </div>
  {{ end }}
  {{ if .Params.date }}
  <div class="project-meta__item">
    <h3 class="project-meta__name">Date</h3>
    <time class="project-meta__text" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "2 January, 2006" }}
    </time>
  </div>
  {{ end }}
</div>
