<div class="widget-sidebar recent-projects">
  {{ if .Params.space }}
    <div class="widget-sidebar__related_space">
      <h2 class="widget-sidebar__title">Related Space</h2>
      {{ $related_space := site.GetPage .Params.space }}
      <div class="recent-project">
        <a href="{{ $related_space.RelPermalink }}" class="recent-project__image">
            <div class="space__image">
              <div class="space__image-emoji">{{ $related_space.Params.emoji }}</div>
            </div>
        </a>

        <div class="recent-project__content">
          <h4 class="recent-project__title"><a href="{{ $related_space.RelPermalink }}">{{ $related_space.Title }}</a></h4>
          <p class="recent-project__summary">{{ $related_space.Params.summary }}</p>
        </div>
      </div>
    </div>
  {{ end }}

  {{ if .Params.related_posts }}
    <div class="widget-sidebar__related_posts">
      <h2 class="widget-sidebar__title">Related Posts</h2>
      {{ range .Params.related_posts }}
        {{ $related_post := site.GetPage "posts" . }}
        <div class="recent-project">
          {{ if $related_post.Params.Image }}
          <a href="{{ $related_post.RelPermalink }}" class="recent-project__image">
            {{ $imgPath := strings.TrimPrefix "/" $related_post.Params.Image }}
            {{ partial "responsive-image.html" (dict
              "src" $imgPath
              "alt" $related_post.Title
              "sizes" "(max-width: 600px) 100vw, 200px"
              "widths" (slice 200 300 400)
              "lazy" true
              "lqip" true
            ) }}
          </a>
          {{ end }}

          <div class="recent-project__content">
            <h4 class="recent-project__title"><a href="{{ $related_post.RelPermalink }}">{{ $related_post.Title }}</a></h4>
            <p class="recent-project__summary">{{ $related_post.Params.description }}</p>
          </div>
        </div>
      {{ end }}
    </div>
  {{ end }}

  <h2 class="widget-sidebar__title">Other Projects</h2>
  {{ $related_projects := shuffle ( where (where site.RegularPages "Section" "projects" ) "Permalink" "!=" .Permalink ) }}
  {{ range $related_projects | first 3 }}
  <div class="recent-project">
    {{ if .Params.Image }}
    <a href="{{ .RelPermalink }}" class="recent-project__image">
      {{ $imgPath := strings.TrimPrefix "/" .Params.Image }}
      {{ partial "responsive-image.html" (dict
        "src" $imgPath
        "alt" .Title
        "sizes" "(max-width: 600px) 100vw, 200px"
        "widths" (slice 200 300 400)
        "lazy" true
        "lqip" true
      ) }}
    </a>
    {{ end }}
  
    <div class="recent-project__content">
      <h4 class="recent-project__title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
      <p class="recent-project__summary">{{ .Params.summary }}</p>
    </div>
  </div>
  {{ end }}

</div>

