<div class="widget-sidebar recent-projects">
  <h2 class="widget-sidebar__title">Other Works</h2>
  {{ $related_projects := shuffle ( where (where site.RegularPages "Section" "projects" ) "Permalink" "!=" .Permalink ) }}
  {{ range $related_projects | first 3 }}
  <div class="recent-project">
    {{ if .Params.Image }}
    <a href="{{ .RelPermalink }}" class="recent-project__image">
      {{ $imgPath := strings.TrimPrefix "/" .Params.Image }}
      {{ partial "responsive-image.html" (dict
        "src" $imgPath
        "alt" .Title
        "sizes" "(max-width: 600px) 100vw, 200px"
        "widths" (slice 200 300 400)
        "lazy" true
        "lqip" true
      ) }}
    </a>
    {{ end }}
  
    <div class="recent-project__content">
      <h4 class="recent-project__title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
      <p class="recent-project__summary">{{ .Params.summary }}</p>
    </div>
  </div>
  {{ end }}
</div>
