<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

  <body>

    {{ template "_internal/google_analytics.html" . }}

    {{ if and (.Site.Params.hero.enable) (.Site.Params.hero.hero_image) (.IsHome) }}
    <!-- begin hero image -->
    <div class="hero__image">
      <div class="hero__image__inner">
        {{ $imgPath := strings.TrimPrefix "/" .Site.Params.hero.hero_image }}
        {{ partial "responsive-image.html" (dict
          "src" $imgPath
          "alt" .Title
          "sizes" "100vw"
          "widths" (slice 600 900 1200)
          "lazy" true
          "lqip" true
        ) }}
      </div>
    </div>
    <!-- end hero image -->
    {{ end }}

    {{ partial "header.html" . }}

    <!-- begin content -->
    <main class="content" aria-label="Content">
      {{ block "main" . }}{{ end }}
    </main>
    <!-- end content -->

    {{ partial "subscribe.html" . }}

    {{ partial "footer.html" . }}

    {{ partial "javascripts.html" . }}

  </body>

</html>