{{ define "main" }}

{{ if .Params.Image }}
<!-- begin hero image -->
<div class="hero__image">
  <div class="hero__image__inner">
    {{ $imgPath := strings.TrimPrefix "/" .Params.Image }}
    {{ partial "responsive-image.html" (dict
      "src" $imgPath
      "alt" .Title
      "sizes" "100vw"
      "widths" (slice 600 900 1200)
      "lazy" true
      "lqip" true
    ) }}
  </div>
</div>
<!-- end hero image -->
{{ end }}

<div class="container">
  <div class="page-head">

    <div class="page-info">
      {{ if .Title }}
      <h1 class="page-title">{{ .Title }}</h1>
      {{ end }}
      {{ if .Description }}
      <p class="page-description">{{.Description }}</p>
      {{ end }}
    </div>

  </div>
</div>

<!-- begin page -->
<div class="container">
  <article class="page">
    <div class="page__content">

      <div class="form-box">
        <div class="contact-head">
          {{ if .Content }}
          <div class="contact-description">{{ .Content }}</div>
          {{ end }}
        </div>
      </div>

    </div>
  </article>
</div>
<!-- end page -->

{{ end }}
