/* Social */
.social-nav {
  @media (max-width: $desktop) {
    display: none;
  }
}

.social-footer {
  margin-left: 0px;
}

.social__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.social__item {
  margin-bottom: 0;
  margin-right: 12px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  font-size: 21px;
  color: var(--heading-font-color);

  &:hover {
    color: var(--primary-color);
  }

  img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);

  }

  img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);

  }
}
