<!-- begin header -->
<header class="header">
  <div class="container-big">
    <div class="row">
      <div class="header__inner col col-12">

        <div class="logo">
          <a class="logo__link" href="{{ .Site.BaseURL }}">
            {{ $full := and .Site.Params.logo (resources.Get (strings.TrimPrefix "/" .Site.Params.logo)) }}
            {{ $etm := and .Site.Params.logo_etm (resources.Get (strings.TrimPrefix "/" .Site.Params.logo_etm)) }}
            {{ if and $full $etm (not .IsHome) }}
              {{/* Non-home: compact "etm" by default, crossfades to the full wordmark on hover */}}
            <span class="logo__swap">
              <img class="logo__image logo__image--etm" src="{{ $etm.RelPermalink }}" alt="{{ site.Title }}">
              <img class="logo__image logo__image--full" src="{{ $full.RelPermalink }}" alt="{{ site.Title }}">
            </span>
            {{ else if $full }}
              {{/* Home (or no etm mark): full wordmark, static */}}
            <img class="logo__image" src="{{ $full.RelPermalink }}" alt="{{ site.Title }}">
            {{ else }}
              {{ .Site.Title }}
            {{ end }}
          </a>
        </div>

        <div class="hamburger">
          <div></div>
        </div>

        <nav class="main-nav" aria-label="Main menu">
          <div class="main-nav__box">
            <ul class="nav__list list-reset">

              {{ $currentPage := . }}
              {{ range.Site.Menus.main }}
              {{ $menuURL := .URL | absLangURL }}
              {{ $pageURL:= $currentPage.Permalink | absLangURL }}
              {{ $active := eq $menuURL $pageURL }}

              {{ if .HasChildren }}
              <li class="nav__item dropdown">
                <span class="nav__link dropdown-toggle">{{ .Name }} <i class="arrow-down fa-solid fa-chevron-down"></i></span>
                <div class="dropdown-menu">
                  {{ range .Children }}
                  {{ $childURL := .URL | absLangURL }}
                  {{ $active := eq $childURL $pageURL }}
                  <a href="{{if findRE `^#` .URL}}{{if not $.IsHome}}{{site.BaseURL | relLangURL}}{{end}}{{ .URL }}{{else}}{{.URL | relLangURL}}{{end}}"
                    class="nav__link {{ if $active }}active-link{{ end }}">{{ .Name }}</a>
                  {{ end }}
                </div>
              </li>
              {{ else }}
              <li class="nav__item">
                <a href="{{if findRE `^#` .URL}}{{if not $.IsHome}}{{site.BaseURL | relLangURL}}{{end}}{{ .URL }}{{else}}{{.URL | relLangURL}}{{end}}"
                  class="nav__link {{ if $active }}active-link{{ end }}">{{ .Name }}</a>
              </li>
              {{ end }}
              {{ end }}

            </ul>
          </div>
        </nav>

        <div class="header__cta">
          <a class="button" href="{{ "/support/" | relLangURL }}">Support</a>
        </div>

      </div>
    </div>
  </div>
</header>
<!-- end header -->
