{{ with .Site.Params.partner_item }}
<div class="about-partners-slider" id="about-partners-slider">
  {{ range $partner := . }}
  {{ $img := partial "partner-logo.html" $partner }}
  <div class="partners-slide">
    {{ if $partner.link }}
    <a href="{{ $partner.link }}" target="_blank" rel="noopener noreferrer" class="partner-logo-container"{{ if $partner.show_name }} data-name="{{ $partner.name }}"{{ end }}>
      {{ with $img }}
      <img class="partner-logo" src="{{ .RelPermalink }}" alt="{{ $partner.name }}" loading="lazy">
      {{ end }}
    </a>
    {{ else }}
    <div class="partner-logo-container"{{ if $partner.show_name }} data-name="{{ $partner.name }}"{{ end }}>
      {{ with $img }}
      <img class="partner-logo" src="{{ .RelPermalink }}" alt="{{ $partner.name }}" loading="lazy">
      {{ end }}
    </div>
    {{ end }}
  </div>
  {{ end }}
</div>
{{ end }}
