{{ if .Site.Params.partners.enable }}
{{ with .Site.Params.partner_item }}
<!-- begin about partners -->
<section class="section partners about-partners animate">
  <div class="container-wide">

    <div class="section__info partners__info">
      <div class="section__head">
        <h2 class="section__title">{{ $.Site.Params.partners.partners_title | default "🤝 Our Partners" | safeHTML }}</h2>
        <ul class="controls list-reset" id="about-partners-controls" aria-label="Partners Slider Navigation" tabindex="0">
          <li class="prev" data-controls="prev" aria-controls="about-partners-slider" tabindex="-1">
            <i class="fa-solid fa-arrow-left-long"></i>
          </li>
          <li class="next" data-controls="next" aria-controls="about-partners-slider" tabindex="-1">
            <i class="fa-solid fa-arrow-right-long"></i>
          </li>
        </ul>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" width="52" height="12" fill="none">
        <path stroke="var(--accent-color)" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
          d="m2 1.734 8 8 8-8 8 8 8-8 8 8 8-8" />
      </svg>
    </div>

    <div class="partners__carousel">
      {{ partial "partners-logo-slider.html" $ }}
    </div>

  </div>
</section>
<!-- end about partners -->
{{ end }}
{{ end }}
