{{ if .Site.Params.partners.enable }}
{{ with .Site.Params.partner_item }}
<!-- begin about partners -->
<section class="section partners about-partners animate">
  <div class="container-wide">

    <div class="section__info partners__info">
      <div class="section__head">
        <h2 class="section__title">{{ $.Site.Params.partners.partners_title | default "🤝 Our Partners" | safeHTML }}</h2>
        <a class="button button--cta" href="/partners/">View all <i class="fa-solid fa-chevron-right"></i></a>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" width="52" height="12" fill="none">
        <path stroke="var(--accent-color)" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
          d="m2 1.734 8 8 8-8 8 8 8-8 8 8 8-8" />
      </svg>
    </div>

    <div class="partners__carousel">
      {{ partial "partners-logo-slider.html" $ }}
    </div>

  </div>
</section>
<!-- end about partners -->
{{ end }}
{{ end }}
