{{ if .Site.Params.hero.enable }}
<!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-10 push-1 col-w-12 push-w-0">
        <div class="hero__inner">
          {{ if .Site.Params.hero.hero_title }}
          <h1 class="hero__title">{{ .Site.Params.hero.hero_title | safeHTML }}</h1>
          {{ end }}
          {{ if .Site.Params.hero.hero_description }}
          <p class="hero__description">{{ .Site.Params.hero.hero_description | safeHTML }}</p>
          {{ end }}
          {{ if or (.Site.Params.hero.hero_button_contact) (.Site.Params.hero.hero_button_about) }}
          <div class="hero__buttons">
            {{ if .Site.Params.hero.hero_button_contact }}
            <a href="/contact/" class="button hero__button__left">{{ .Site.Params.hero.hero_button_contact }} <i class="hero__button__arrow fa-solid fa-arrow-right"></i></a>
            {{ end }}
            {{ if .Site.Params.hero.hero_button_about }}
            <a href="/about/" class="button button--secondary hero__button__right">{{ .Site.Params.hero.hero_button_about }} <i class="hero__button__arrow fa-solid fa-chevron-right"></i></a>
            {{ end }}
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end author -->
{{ end }}
