{{ if .Site.Params.testimonials.enable }}
<!-- begin testimonials -->
<section class="section testimonials animate">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="container__inner">

          {{ if .Site.Params.partners.enable }}
          <!-- begin partners carousel -->
          <div class="section__info partners__info">
            <div class="section__head">
              {{ with .Site.Params.partners.partners_title }}
              <h2 class="section__title">{{ . | safeHTML }}</h2>
              {{ end }}
              <a class="button button--pill" href="/partners/">View all<span class="button__noun"> partners</span> <i class="fa-solid fa-arrow-right"></i></a>
            </div>
            {{ with .Site.Params.partners.partners_title }}
            <svg xmlns="http://www.w3.org/2000/svg" width="52" height="12" fill="none"><path stroke="var(--secondary-color)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m2 1.734 8 8 8-8 8 8 8-8 8 8 8-8"/></svg>
            {{ end }}
          </div>

          <div class="partners__carousel">
            {{ partial "partners-logo-slider.html" . }}
          </div>
          <!-- end partners carousel -->
          {{ end }}

          <div class="section__info testimonials__info">
            <div class="section__head">
              {{ with .Site.Params.testimonials.testimonial_title }}
              <h2 class="section__title">{{ . | safeHTML }}</h2>
              {{ end }}
              <ul class="controls list-reset" id="customize-controls" aria-label="Slider Navigation" tabindex="0">
                <li class="prev" data-controls="prev" aria-controls="customize" tabindex="-1">
                  <i class="fa-solid fa-arrow-left-long"></i>
                </li>
                <li class="next" data-controls="next" aria-controls="customize" tabindex="-1">
                  <i class="fa-solid fa-arrow-right-long"></i>
                </li>
              </ul>
            </div>
            {{ with .Site.Params.testimonials.testimonial_title }}
            <svg xmlns="http://www.w3.org/2000/svg" width="52" height="12" fill="none"><path stroke="var(--secondary-color)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m2 1.734 8 8 8-8 8 8 8-8 8 8 8-8"/></svg>
            {{ end }}
          </div>

          <div class="testimonials__slider my-slider" id="customize">
          {{ range .Site.Params.testimonial_item }}
            <div class="testimonial-item">
              <figure class="quote-card">
                <div class="quote-card__body">
                  <span class="quote-card__mark" aria-hidden="true">&ldquo;</span>
                  <blockquote class="quote-card__text">{{ .content }}</blockquote>
                </div>
                <figcaption class="quote-card__person">
                  {{ with .image }}{{ with resources.Get (strings.TrimPrefix "/" .) }}
                  <img class="quote-card__avatar" src="{{ .RelPermalink }}" alt="" loading="lazy">
                  {{ end }}{{ end }}
                  <span class="quote-card__who">
                    <span class="quote-card__name">{{ .name }}</span>
                    {{/* designation is "Title - Organisation", shown as "Title, Organisation" */}}
                    {{ with .designation }}<span class="quote-card__role">{{ replace . " - " ", " }}</span>{{ end }}
                  </span>
                </figcaption>
              </figure>
            </div>
          {{ end }}
          </div>

        </div>

      </div>
    </div>
  </div>
</section>
<!-- end testimonials -->
{{ end }}
