{{ if .Site.Params.tags.enable }}
<!-- begin section-tags -->
<section class="section section-tags animate">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="container__inner">

          {{ if .Site.Params.tags.tags_title }}
          <div class="section__info">
            <div class="section__head">
              <h3 class="section__title">{{ .Site.Params.tags.tags_title | safeHTML }}</h3>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="52" height="12" fill="none"><path stroke="var(--accent-color)" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="m2 1.734 8 8 8-8 8 8 8-8 8 8 8-8"/></svg>
          </div>
          {{ end }}
  
          {{ $.Scratch.Set "myLimit" 0 }}
          {{ $tags := .Site.Taxonomies.tags }}
          {{ $tagsData := site.Data.tags }}
          {{ $defaultEmoji := $tagsData.default_emoji | default "\U0001F3F7\uFE0F" }}

          <div class="row">
          {{ range $name, $taxonomy := $tags }}
            {{ $.Scratch.Set "myLimit" (add ($.Scratch.Get "myLimit") 1) }}
            {{ if le ($.Scratch.Get "myLimit") 6 }}
              {{ with $.Site.GetPage (printf "/tags/%s" $name) }}
              {{ $tagConfig := index $tagsData.tags $name }}
              <div class="col col-2 col-w-3 col-d-4 col-t-6 col-m-12">
                <a href="{{ .RelPermalink }}" class="tag-container" title="{{ .Title }}">
                  <div class="tag-image">
                    {{ if and $tagConfig $tagConfig.icon }}
                    <img src="{{ $tagConfig.icon | absURL }}" alt="{{ .Title }}">
                    {{ else }}
                    <span class="tag-emoji">
                      {{ if and $tagConfig $tagConfig.emoji }}
                        {{ $tagConfig.emoji }}
                      {{ else }}
                        {{ $defaultEmoji }}
                      {{ end }}
                    </span>
                    {{ end }}
                  </div>
                  <div class="tag-meta">
                    {{ if .Title }}
                    <span class="tag-name">{{ .Title }}</span>
                    {{ end }}
                    <span class="tag-count">{{ len .Pages }} {{ if lt (len .Pages) 2 }}Post{{ else }}Posts{{ end }}</span>
                  </div>
                </a>
              </div>
              {{ end }}
            {{ end }}
          {{ end }}
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- end section-tags -->
{{ end }}