<!-- begin about closing ask (reuses the Support page cta band) -->
<section class="section about-closing animate">
  <div class="support__cta-band about-closing__band">
    <div class="support__cta-band-text">
      <h3 class="support__cta-band-title">Have a conservation challenge?</h3>
      <p class="support__cta-band-description">Tell us about your data and your field problem, and we'll give you an honest read on what's possible and what it would take.</p>
    </div>
    <div class="about-closing__actions">
      <a class="link-no-decoration button" href="/contact/">Start a project <i class="fa-solid fa-arrow-right"></i></a>
      <p class="about-closing__funders">Funding conservation? <a href="/support/">Support our work</a></p>
    </div>
  </div>
</section>
<!-- end about closing ask -->
