{{ if .Site.Params.projects.enable }}

  {{ if .Site.Params.projects.completed.enable }}
  <!-- begin projects -->
  <section class="section projects animate">
    <div class="container">
      <div class="row">
        <div class="col col-12">
          <div class="container__inner">

            {{ if .Site.Params.projects.completed.projects_title }}
            <div class="section__info">
              <div class="section__head">
                <h2 class="section__title">{{ .Site.Params.projects.completed.projects_title | safeHTML }}</h2>
                <a class="button button--cta" href="/projects">View all <i class="fa-solid fa-chevron-right"></i></a>
              </div>
              <svg xmlns="http://www.w3.org/2000/svg" width="52" height="12" fill="none"><path stroke="var(--accent-color)" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="m2 1.734 8 8 8-8 8 8 8-8 8 8 8-8"/></svg>
            </div>
            {{ end }}

            <div class="row">
              {{ $projects_completed := where (where .Site.RegularPages "Section" "projects")  ".Params.status" "completed"}}
              {{ $projects_completed_and_pinned := where $projects_completed ".Params.pinned" true }}
              {{ range $projects_completed_and_pinned | first .Site.Params.projects.completed.limit  }}
              {{ partial "project-card.html" . }}
              {{ end }}
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end completed projects -->
  {{ end }}


  {{ if .Site.Params.projects.fundraising.enable }}
  <!-- begin projects -->
  <section class="section projects animate">
    <div class="container">
      <div class="row">
        <div class="col col-12">
          <div class="container__inner">

            {{ if .Site.Params.projects.fundraising.projects_title }}
            <div class="section__info">
              <div class="section__head">
                <h2 class="section__title">{{ .Site.Params.projects.fundraising.projects_title | safeHTML }}</h2>
                <a class="button button--cta" href="/projects">View all <i class="fa-solid fa-chevron-right"></i></a>
              </div>
              <svg xmlns="http://www.w3.org/2000/svg" width="52" height="12" fill="none"><path stroke="var(--accent-color)" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="m2 1.734 8 8 8-8 8 8 8-8 8 8 8-8"/></svg>
            </div>
            {{ end }}

            <div class="row">
              {{ range (where (where .Site.RegularPages "Section" "projects")  ".Params.status" "fundraising") | first .Site.Params.projects.fundraising.limit  }}
              {{ partial "project-card.html" . }}
              {{ end }}
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end fundraising projects -->
  {{ end }}
{{ end }}
