{{ if .Site.Params.projects.enable }}
  {{ if .Site.Params.projects.fundraising.enable }}
  <!-- begin projects -->
  <section class="section projects animate">
    <div class="container">
      <div class="row">
        <div class="col col-12">
          <div class="container__inner">

            {{ if .Site.Params.projects.fundraising.projects_title }}
            <div class="section__info">
              <div class="section__head">
                <h2 class="section__title">{{ .Site.Params.projects.fundraising.projects_title | safeHTML }}</h2>
                <a class="section__link" href="/projects">View all</a>
              </div>
              <svg xmlns="http://www.w3.org/2000/svg" width="52" height="12" fill="none"><path stroke="var(--accent-color)" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="m2 1.734 8 8 8-8 8 8 8-8 8 8 8-8"/></svg>
            </div>
            {{ end }}

            <div class="row">
              {{ range (where (where .Site.RegularPages "Section" "projects")  ".Params.status" "fundraising") | first .Site.Params.projects.fundraising.limit  }}
              <article class="project col col-4 col-w-6 col-t-12">
                <div class="project__content">
                  {{ if .Params.Image }}
                  <div class="project__head">
                    <div class="project__image">
                      <img class="lazy" data-src="{{ .Params.Image | absURL }}" alt="{{ .Params.Title }}">
                    </div>
                  </div>
                  {{ end }}
                  <div class="project__inner">
                    <div class="project__info">
                      {{ if .Params.subtitle }}
                      <div class="project__subtitle">{{ .Params.subtitle }}</div>
                      {{ end }}
                      {{ if .Params.title }}
                      <h3 class="project__title"><a href="{{ .RelPermalink }}" class="project__link">{{ .Params.title }}</a></h3>
                      {{ end }}
                      {{ if .Params.summary }}
                      <p class="project__excerpt">{{ .Params.summary }}</p>
                      {{ end }}
                    </div>
                  </div>
                </div>
              </article>
              {{ end }}
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end fundraising projects -->
  {{ end }}

  {{ if .Site.Params.projects.completed.enable }}
  <!-- begin projects -->
  <section class="section projects animate">
    <div class="container">
      <div class="row">
        <div class="col col-12">
          <div class="container__inner">

            {{ if .Site.Params.projects.completed.projects_title }}
            <div class="section__info">
              <div class="section__head">
                <h2 class="section__title">{{ .Site.Params.projects.completed.projects_title | safeHTML }}</h2>
                <a class="section__link" href="/projects">View all</a>
              </div>
              <svg xmlns="http://www.w3.org/2000/svg" width="52" height="12" fill="none"><path stroke="var(--accent-color)" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="m2 1.734 8 8 8-8 8 8 8-8 8 8 8-8"/></svg>
            </div>
            {{ end }}

            <div class="row">
              {{ range (where (where .Site.RegularPages "Section" "projects")  ".Params.status" "completed") | first .Site.Params.projects.completed.limit  }}
              {{/* {{ range (where (where .Site.RegularPages "Section" "projects" | first .Site.Params.projects.completed.limit ) ".Params.status" "completed") }} */}}
              <article class="project col col-4 col-w-6 col-t-12">
                <div class="project__content">
                  {{ if .Params.Image }}
                  <div class="project__head">
                    <div class="project__image">
                      <img class="lazy" data-src="{{ .Params.Image | absURL }}" alt="{{ .Params.Title }}">
                    </div>
                  </div>
                  {{ end }}
                  <div class="project__inner">
                    <div class="project__info">
                      {{ if .Params.subtitle }}
                      <div class="project__subtitle">{{ .Params.subtitle }}</div>
                      {{ end }}
                      {{ if .Params.title }}
                      <h3 class="project__title"><a href="{{ .RelPermalink }}" class="project__link">{{ .Params.title }}</a></h3>
                      {{ end }}
                      {{ if .Params.summary }}
                      <p class="project__excerpt">{{ .Params.summary }}</p>
                      {{ end }}
                    </div>
                  </div>
                </div>
              </article>
              {{ end }}
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end completed projects -->
  {{ end }}
{{ end }}
