{{ with .Site.Params.social }}
<ul class="social__list list-reset">
  {{ range . }}
  <li class="social__item">
    <a class="social__link" href="{{ .link }}" target="_blank" rel="noopener"
      aria-label="{{ .name }} link">
      {{ if .icon }}
        <i class="{{ .icon }}"></i>
      {{ end }}
      {{ if .image }}
        {{ $imgPath := strings.TrimPrefix "/" .image }}
        {{ $img := resources.Get $imgPath }}
        {{ if $img }}
      <img src="{{ $img.RelPermalink }}" height="26" width="26"/>
        {{ end }}
      {{ end}}
    </a>
  </li>
  {{ end }}
</ul>
{{ end }}
