{{ define "main" }}

{{ if .Params.hero_image }}
<!-- begin hero image -->
<div class="hero__image">
  <div class="hero__image__inner">
    <img class="lazy" data-src="{{ .Params.hero_image }}" alt="{{ .Title }}">
  </div>
</div>
<!-- end hero image -->
{{ end }}

<div class="container">

  <div class="tool-info">
    {{ if .Title }}
    <h1 class="tool-info__title">
      {{ if .Params.icon }}
      <img class="tool-info__title-icon" src="{{ .Params.icon }}" />
      {{ end }}
      {{ .Title }}
    </h1>
    {{ end }}
    {{ if .Params.landing_page_url }}
    <div class="tool-info__download">
      <a class="link-no-decoration" href="{{ .Params.landing_page_url }}" >
        <button class="button button-cta">
          Download and Install
        </button>
      </a>
    </div>
    {{ end }}
  </div>

  <div class="tool-content">
    {{ .Content }}

    <br/>
    <br/>
    <ul>
      {{ if .Params.project }}
      <li>
       🛠️  
        Learn more about the project <a target="_blank" href="{{ .Params.project }}">here</a>.
      </li>
      {{ end }}
      {{ if .Params.github_repo }}
      <li>
        <i class="fa-brands fa-github"></i>
        The code is available <a target="_blank" href="{{ .Params.github_repo }}">here</a>.
      </li>
      {{ end }}
      {{ if .Params.landing_page_url }}
        <li>
          🚀 The application can be downloaded <a target="_blank" href="{{ .Params.landing_page_url }}">here</a>.
        </li>
      {{ end }}
    </ul>
  </div>
</div>

</div>

</div>

{{ end }}
