<p>We rely on donations from our community for our main
income. It's because of your support that we can carry
out these projects and partnerships, helping us fulfill
our mission. Please consider making a contribution towards this project.</p>

<div style="margin-top: 30px;">
  <div>
    <a class="link-no-decoration" href="/donate/">
      <button class="button button--cta">
        Donate ❤️
    </button>
    </a>
    <a class="link-no-decoration" href="/sponsor/" style="padding-left: 10px;">
      <button  class="button button--cta"/>
        Become a Sponsor 🌍
      </button>
    </a>
  </div>
</div>
